@import 'themes';

.hero {
  @include flex-vertical;
  height: 520px;
  padding-top: 120px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: $bg-color-3;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");

  h2 {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    margin: 0;
  }

  img {
    width: 250px;
    height: 250px;
  }
}
