@import 'themes';

.navigation {
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  padding: 1.4em 1.5em;
  width: 100vw;
  height: 120px;
  background-color: transparent;
  color: #fff;
  transition: opacity .5s;

  .title {
    font-family: 'Bungee', sans-serif;
    font-size: 2em;
  }
}

.write-a-tweet {
  transition: .25s linear;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
  }

  ul {
    margin: 0;
    padding: .5em;
    list-style-type: none;

    li {
      text-align: center;
    }
  }

  i {
    position: absolute;
    color: $bg-color-3;
    text-shadow: 3px 3px 3px black;
    animation: bounce 1s linear infinite;
  }
}

@keyframes bounce {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: .5em;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.back-to-top {
  opacity: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $bg-color-3;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: opacity .5s;

  &:hover {
    cursor: pointer;
    animation: pulse .5s alternate infinite;
  }
}

@keyframes pulse {
  to {
    transform: scale(1.25, 1.25);
  }
}

@media screen and (min-width: 1024px) {
  .navigation {
    background-color: $bg-color-2;
  }
}
