.navigation {
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  top: 0;
  padding: 1.4em 1.5em 0;
  width: 100vw;
  height: 120px;
  background-color: #4056a1;
  color: #fff;
}

.navigation .title {
  font-family: 'Bungee', sans-serif;
  font-size: 2em;
}

.write-a-tweet ul {
  margin: 0;
  list-style-type: none;
}
.write-a-tweet ul li {
  text-align: center;
}
.write-a-tweet i {
  color: red;
}
