.new-tweet {
  width: 100%;
}

.tweet-form {
  display: flex;
  flex-direction: column;
}

.tweet-form label {
  font-weight: bold;
}

.tweet-form textarea {
  background-color: inherit;
  border: none;
  border-bottom: solid #545149 3px;
  padding-bottom: .5em;
  outline-width: 0;
}

.tweet-form .under-border {
  margin-top: .5em;
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
}

.tweet-form .under-border button {
  background-color: #4056a1;
  color: white;
}
