.tweets {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2em;
}

.tweet {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: 3px #545149 solid;
}

.tweet:hover {
  box-shadow: 10px 10px lightgrey;
}

.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet header p {
  margin: 0 .5em;
}

.tweet header div {
  display: flex;
  align-items: center;
}

.tweet-user-name {
  margin-left: .5em;
}

.tweet-user-avatar {
  height: 40px;
  width: 40px;
}

.tweet-tag {
  color: lightgrey;
}

.tweet footer {
  border-top: 3px solid #545149;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .75em;
}
.tweet footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4056a1;
}
.tweet footer div i {
  padding: .3em;
}

.tweet footer div i:hover {
  color: orange;
}
